.header {
    background-color: darkgreen;
    color:oldlace;
    text-align: center;
}

.main {
    background-color: lightgray;
    padding: 1em;
}

.page{
    background-image: url(record.png);
    background-repeat: repeat-x repeat-y;
}

body{
    margin: 0;
}